#Levo{
    float:left;
    width:30%;
}

#Sredina {
    float:left;
    width:70%;
}


#Sirina{
    width:100%;
    margin:0;
    overflow: hidden;
}

#htapWidgetTips{
    height: 700px; width: 90%; float:left;
}

.firstDiv {
    margin-left: -8px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: auto;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    overflow: auto;
}
